*,
*::after,
*::before {
    padding: 0px;
    margin: 0px;
    font-family: inherit;
}

body {
    background-image: url("images/background-desktop.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    font-size: 10px;
}

body,
html {
    height: 100vh;
    font-family: sans-serif;
}

button {
    cursor: pointer;
    border: none;
}

input[type="text"] {
    background-color: #8388E533;
    text-align: end;
    width: 100%;
    -webkit-text-stroke: 1.5px black;
    -webkit-text-fill-color: #d2d2d2;
    border-radius: 1vw;
    border: 0px;
    font-size: 4rem;
}

#main {
    border: 2px solid #51f8f7;
    border-radius: 3vw;
    width: 100%;
    max-width: 280px;
    background-color: #BFFCFB1a;
    padding: 2rem 1rem;
}

.calc_header {
    margin-top: 5vh;
    padding: 1rem;
}

.calc_footer > * + * {
    margin-top: 1rem;
}

.calc_footer > *:last-child {
    gap: 1rem;
}

.btn_group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.3rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: #010a0f;
    font-size: 20px;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn.btn-grow {
    flex-grow: 1;
    border-radius: 40px;
}

.btn:hover {
    transform: translate(-2px, -3px);
}

.btn.active {
    background-color: #ffffff;
    color: #f69906;
}

.btn-operations {
    background-color: #00BFBFe6;
    color: #000;
}

.btn-operations:hover {
    background-color: #009898e6;
}

.btn-number {
    background-color: #32B3FFe6;
}

.btn-number:hover {
    background-color: #0E8FDBE6;
}

.btn-operator {
    background-color: #51f8f7e6;
}

.btn-operator:hover {
    background-color: #40c4c4e6;
}